@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}


h1, h2, h3, p {
    color: #292a2a;
}

h1 {
    font-weight: 400;
    transition: all ease-in-out 0.5s;
}

h1:hover {
    transform: scale(1.2);
}
header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid teal;
}

main {
    width: 90vw;
    min-height: 70vh;
    margin: 0 auto;
    padding: 16px;
}

main.main-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

main.librerias {
    flex-direction: row;
}
footer {
    background-color: #062326;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer p {
    color: white;
}


.box {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid white;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: circulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;

    /* transition: background linear 1s, border-radius 2s linear, transform 1s ; */
}
.box p { color:  rgb(255, 255, 255); font-size: 18px; }

.box:hover {
    animation-play-state: paused;
}

.container {
    border: 2px solid #062326;
    width: 100%;
    height: 200px;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: nowrap;

    overflow: hidden;
}

.item {
    height: 160px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    transition: all 1s linear;
}

.item a {
    text-decoration: none;
    background-color: snow;
    padding: 10px 30px;
}

.item a:hover {
    background-color: #969e9e;
}

.item:hover {
    animation-play-state: paused;
    height: 200px;
    z-index: 2;
    box-shadow: 2px 5px 10px #292a2a;

}
.box-violet{
    background-color: slateblue;
}

.box-green {
    background-color: teal;
}

.box-red {
    background-color: tomato;
}

@keyframes move {
    0% {
        transform: translate(500px);
    }



    100% {
        transform: translateX(-700px);
    }
}


/* .box:active {
    background-color: teal;
    border-radius: 50%;
    transform: scale(2);
} */


@keyframes circulo {
    0% {
        background-color: slateblue;
    }

    50% {
        background-color: steelblue;
    }

    100% {
        transform: translateX(100px);
        background-color: teal;
        border-radius: 50%;
    }
}


/* @keyframes circulo {
    from {
        background-color: slateblue;
    }

    to {
        background-color: teal;
        border-radius: 50%;

    }
} */

.card {
    background-color: #292a2a;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 2px 5px 10px #292a2a8a;

    transition: background linear 1s;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.card i {
    font-size: 96px;
}
.card:active {
    background-color: teal;
}